body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: white;
}

a.brand-logo, a.nav-link, .button-collapse i {
  color: rgb(129,	160,	111) !important;
}

a.brand-logo {
  font-family: 'Lobster Two', cursive;
}

h1.header.center {
  font-family: 'Lato', sans-serif;
}

input.main-search {
  text-align: center;
  font-size: 16px !important;
}

.page-footer, .btn, .btn:hover {
  background-color: rgb(129,	160,	111);
}

.parallax-container {
  height: 60vh;
}

.main-img {
  max-width: 100%;
}

.header, h5.row.center {
  color: white;
}

.main-search {
  background-color: white !important;
  background-color: rgba(255, 255, 255, .8) !important;
  width: 75% !important;
  border-bottom: none !important;
}

i.material-icons {
  font-size: inherit;
  color: rgb(129,	160,	111);
}

p {
  line-height: 2rem;
}

span.card-title {
  height: 10vh;
  overflow: scroll;
}
